In [1]:
import pandas as pd

pd.__version__

'2.1.1'

In [2]:
SCRATCH_DIR = "/scratch/siads696f23_class_root/siads696f23_class/psollars"

In [3]:
bts_faa_df = pd.read_parquet(f"{SCRATCH_DIR}/bts_faa_joined.parquet")

bts_faa_df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginCityMarketID,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,faa_registration_origin
0,2015,1,1,1,4,2015-01-01 00:00:00,AA,787AA,1,31703,...,1.0,1.0,1.0,1.0,2.0,CLASS 1,0.0,,...,2023.0
1,2015,1,1,2,5,2015-01-02 00:00:00,AA,795AA,1,31703,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,138.0,,...,2023.0
2,2015,1,1,3,6,2015-01-03 00:00:00,AA,788AA,1,31703,...,1.0,1.0,0.0,1.0,5.0,CLASS 1,0.0,,...,2023.0
3,2015,1,1,4,7,2015-01-04 00:00:00,AA,791AA,1,31703,...,1.0,1.0,0.0,1.0,6.0,CLASS 1,138.0,,...,2023.0
4,2015,1,1,5,1,2015-01-05 00:00:00,AA,783AA,1,31703,...,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52493030,2023,2,6,1,4,2023-06-01 00:00:00,YX,748YX,3404,30852,...,5.0,1.0,0.0,2.0,88.0,CLASS 3,0.0,,...,2023.0
52493031,2023,2,6,1,4,2023-06-01 00:00:00,YX,855RW,3403,30852,...,5.0,1.0,0.0,2.0,70.0,CLASS 3,0.0,,...,2023.0
52493032,2023,2,6,1,4,2023-06-01 00:00:00,YX,642RW,3402,30257,...,5.0,1.0,0.0,2.0,70.0,CLASS 3,0.0,,...,2023.0
52493033,2023,2,6,1,4,2023-06-01 00:00:00,YX,731YX,3401,31703,...,5.0,1.0,0.0,2.0,88.0,CLASS 3,0.0,,...,2023.0
52493034,2023,2,6,1,4,2023-06-01 00:00:00,YX,855RW,3400,33244,...,5.0,1.0,0.0,2.0,70.0,CLASS 3,0.0,,...,2023.0

In [4]:
airport_df = pd.read_csv(f"{SCRATCH_DIR}/T_MASTER_CORD.csv")

airport_df = airport_df[airport_df["AIRPORT_IS_LATEST"].eq(1)]

airport_df

,AIRPORT_SEQ_ID,AIRPORT_ID,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,AIRPORT_WAC_SEQ_ID2,AIRPORT_WAC,AIRPORT_COUNTRY_NAME,AIRPORT_COUNTRY_CODE_ISO,AIRPORT_STATE_NAME,...,LON_DEGREES,LON_HEMISPHERE,LON_MINUTES,LON_SECONDS,LONGITUDE,UTC_LOCAL_TIME_VARIATION,AIRPORT_START_DATE,AIRPORT_THRU_DATE,AIRPORT_IS_CLOSED,AIRPORT_IS_LATEST
0,1000101,10001,01A,Afognak Lake Airport,"Afognak Lake, AK",101,1,United States,US,Alaska,...,152.0,W,54.0,24.0,-152.906667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
1,1000301,10003,03A,Bear Creek Mining Strip,"Granite Mountain, AK",101,1,United States,US,Alaska,...,161.0,W,4.0,18.0,-161.071667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
2,1000401,10004,04A,Lik Mining Camp,"Lik, AK",101,1,United States,US,Alaska,...,163.0,W,10.0,0.0,-163.166667,NaN,7/1/2007 12:00:00 AM,NaN,0,1
3,1000501,10005,05A,Little Squaw Airport,"Little Squaw, AK",101,1,United States,US,Alaska,...,148.0,W,11.0,2.0,-148.183889,NaN,8/1/2007 12:00:00 AM,NaN,0,1
4,1000601,10006,06A,Kizhuyak Bay,"Kizhuyak, AK",101,1,United States,US,Alaska,...,152.0,W,52.0,58.0,-152.882778,NaN,10/1/2007 12:00:00 AM,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19136,1699001,16990,1NJ,Aeroflex Andover,"Andover, NJ",2101,21,United States,US,New Jersey,...,74.0,W,44.0,17.0,-74.738056,-500.0,1/1/2023 12:00:00 AM,NaN,0,1
19137,1699101,16991,3NC,Hendersonville Airport,"Hendersonville, NC",3601,36,United States,US,North Carolina,...,82.0,W,25.0,59.0,-82.433056,-500.0,1/1/2023 12:00:00 AM,NaN,0,1
19138,1699201,16992,3AK,Gold Mining Landing Strip,"Tintina, AK",101,1,United States,US,Alaska,...,155.0,W,29.0,28.0,-155.491111,-900.0,1/1/2023 12:00:00 AM,NaN,0,1
19139,1699301,16993,MN8,Walker Municipal,"Walker, MN",6301,63,United States,US,Minnesota,...,94.0,W,38.0,43.0,-94.645278,-600.0,6/1/2023 12:00:00 AM,NaN,0,1
19140,9999901,99999,ZZZ,Unknown Point in Alaska,Unknown Point in Alaska,101,1,United States,US,Alaska,...,NaN,NaN,NaN,NaN,NaN,NaN,1/1/1950 12:00:00 AM,NaN,0,1

In [5]:
coords = airport_df[
    [
        "AIRPORT",
        "DISPLAY_AIRPORT_NAME",
        "DISPLAY_AIRPORT_CITY_NAME_FULL",
        "LATITUDE",
        "LONGITUDE",
    ]
]

coords

,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,LATITUDE,LONGITUDE
0,01A,Afognak Lake Airport,"Afognak Lake, AK",58.109444,-152.906667
1,03A,Bear Creek Mining Strip,"Granite Mountain, AK",65.548056,-161.071667
2,04A,Lik Mining Camp,"Lik, AK",68.083333,-163.166667
3,05A,Little Squaw Airport,"Little Squaw, AK",67.570000,-148.183889
4,06A,Kizhuyak Bay,"Kizhuyak, AK",57.745278,-152.882778
...,...,...,...,...,...
19136,1NJ,Aeroflex Andover,"Andover, NJ",41.008611,-74.738056
19137,3NC,Hendersonville Airport,"Hendersonville, NC",35.307500,-82.433056
19138,3AK,Gold Mining Landing Strip,"Tintina, AK",64.409722,-155.491111
19139,MN8,Walker Municipal,"Walker, MN",47.159444,-94.645278
19140,ZZZ,Unknown Point in Alaska,Unknown Point in Alaska,NaN,NaN

In [6]:
origin_coords = coords.add_prefix("Origin_")
bts_faa_coords_df = pd.merge(
    bts_faa_df, origin_coords, left_on="Origin", right_on="Origin_AIRPORT", how="left"
)

dest_coords = coords.add_prefix("Dest_")
bts_faa_coords_df = pd.merge(
    bts_faa_coords_df, dest_coords, left_on="Dest", right_on="Dest_AIRPORT", how="left"
)

bts_faa_coords_df = bts_faa_coords_df.drop(
    ["Origin_AIRPORT", "Dest_AIRPORT"], axis="columns"
)

In [7]:
bts_faa_coords_df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginCityMarketID,...,TC-DATA-HOLDER,faa_registration_origin,Origin_DISPLAY_AIRPORT_NAME,Origin_DISPLAY_AIRPORT_CITY_NAME_FULL,Origin_LATITUDE,Origin_LONGITUDE,Dest_DISPLAY_AIRPORT_NAME,Dest_DISPLAY_AIRPORT_CITY_NAME_FULL,Dest_LATITUDE,Dest_LONGITUDE
0,2015,1,1,1,4,2015-01-01 00:00:00,AA,787AA,1,31703,...,...,2023.0,John F. Kennedy International,"New York, NY",40.640000,-73.778611,Los Angeles International,"Los Angeles, CA",33.942500,-118.408056
1,2015,1,1,2,5,2015-01-02 00:00:00,AA,795AA,1,31703,...,...,2023.0,John F. Kennedy International,"New York, NY",40.640000,-73.778611,Los Angeles International,"Los Angeles, CA",33.942500,-118.408056
2,2015,1,1,3,6,2015-01-03 00:00:00,AA,788AA,1,31703,...,...,2023.0,John F. Kennedy International,"New York, NY",40.640000,-73.778611,Los Angeles International,"Los Angeles, CA",33.942500,-118.408056
3,2015,1,1,4,7,2015-01-04 00:00:00,AA,791AA,1,31703,...,...,2023.0,John F. Kennedy International,"New York, NY",40.640000,-73.778611,Los Angeles International,"Los Angeles, CA",33.942500,-118.408056
4,2015,1,1,5,1,2015-01-05 00:00:00,AA,783AA,1,31703,...,None,NaN,John F. Kennedy International,"New York, NY",40.640000,-73.778611,Los Angeles International,"Los Angeles, CA",33.942500,-118.408056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53511903,2023,2,6,1,4,2023-06-01 00:00:00,YX,748YX,3404,30852,...,...,2023.0,Washington Dulles International,"Washington, DC",38.947500,-77.460000,John Glenn Columbus International,"Columbus, OH",39.996944,-82.892222
53511904,2023,2,6,1,4,2023-06-01 00:00:00,YX,855RW,3403,30852,...,...,2023.0,Washington Dulles International,"Washington, DC",38.947500,-77.460000,LaGuardia,"New York, NY",40.777222,-73.872500
53511905,2023,2,6,1,4,2023-06-01 00:00:00,YX,642RW,3402,30257,...,...,2023.0,Albany International,"Albany, NY",42.749167,-73.801944,Chicago O'Hare International,"Chicago, IL",41.976944,-87.908056
53511906,2023,2,6,1,4,2023-06-01 00:00:00,YX,731YX,3401,31703,...,...,2023.0,Newark Liberty International,"Newark, NJ",40.692500,-74.168611,Jacksonville International,"Jacksonville, FL",30.494167,-81.687778
53511907,2023,2,6,1,4,2023-06-01 00:00:00,YX,855RW,3400,33244,...,...,2023.0,Memphis International,"Memphis, TN",35.042500,-89.976667,Newark Liberty International,"Newark, NJ",40.692500,-74.168611

In [9]:
bts_faa_coords_df.to_parquet(f"{SCRATCH_DIR}/bts_faa_coords.parquet")