### Data Imports

In [1]:
import pandas as pd
import sqlite3

In [2]:
master_2023 = pd.read_csv("./../data/ReleasableAircraft.2023/MASTER.txt", delimiter=",", low_memory=False)
engine_2023 = pd.read_csv("./../data/ReleasableAircraft.2023/ENGINE.txt", delimiter=",", low_memory=False)
arcrft_2023 = pd.read_csv("./../data/ReleasableAircraft.2023/ACFTREF.txt", delimiter=",", low_memory=False)

master_2022 = pd.read_csv("./../data/ReleasableAircraft.2022/MASTER.txt", delimiter=",", low_memory=False)
engine_2022 = pd.read_csv("./../data/ReleasableAircraft.2022/ENGINE.txt", delimiter=",", low_memory=False)
arcrft_2022 = pd.read_csv("./../data/ReleasableAircraft.2022/ACFTREF.txt", delimiter=",", low_memory=False)

master_2021 = pd.read_csv("./../data/ReleasableAircraft.2021/MASTER.txt", delimiter=",", low_memory=False)
engine_2021 = pd.read_csv("./../data/ReleasableAircraft.2021/ENGINE.txt", delimiter=",", low_memory=False)
arcrft_2021 = pd.read_csv("./../data/ReleasableAircraft.2021/ACFTREF.txt", delimiter=",", low_memory=False)

master_2020 = pd.read_csv("./../data/ReleasableAircraft.2020/MASTER.txt", delimiter=",", low_memory=False)
engine_2020 = pd.read_csv("./../data/ReleasableAircraft.2020/ENGINE.txt", delimiter=",", low_memory=False)
arcrft_2020 = pd.read_csv("./../data/ReleasableAircraft.2020/ACFTREF.txt", delimiter=",", low_memory=False)

master_2019 = pd.read_csv("./../data/ReleasableAircraft.2019/MASTER.txt", delimiter=",", low_memory=False)
engine_2019 = pd.read_csv("./../data/ReleasableAircraft.2019/ENGINE.txt", delimiter=",", low_memory=False)
arcrft_2019 = pd.read_csv("./../data/ReleasableAircraft.2019/ACFTREF.txt", delimiter=",", low_memory=False)

master_2018 = pd.read_csv("./../data/ReleasableAircraft.2018/MASTER.txt", delimiter=",", low_memory=False)
engine_2018 = pd.read_csv("./../data/ReleasableAircraft.2018/ENGINE.txt", delimiter=",", low_memory=False)
arcrft_2018 = pd.read_csv("./../data/ReleasableAircraft.2018/ACFTREF.txt", delimiter=",", low_memory=False)

master_2017 = pd.read_csv("./../data/ReleasableAircraft.2017/MASTER.txt", delimiter=",", low_memory=False)
engine_2017 = pd.read_csv("./../data/ReleasableAircraft.2017/ENGINE.txt", delimiter=",", low_memory=False)
arcrft_2017 = pd.read_csv("./../data/ReleasableAircraft.2017/ACFTREF.txt", delimiter=",", low_memory=False)

### Join Engine and Aircraft DF to Master

In [3]:
merged_2023_engine = pd.merge(
    master_2023.astype({"ENG MFR MDL": "str"}),
    engine_2023.astype({"CODE": "str"}),
    how="left",
    left_on="ENG MFR MDL",
    right_on="CODE",
    suffixes=("", "_engine"),
)

merged_2023 = pd.merge(
    merged_2023_engine,
    arcrft_2023.astype({"CODE": "str"}),
    how="left",
    left_on="MFR MDL CODE",
    right_on="CODE",
    suffixes=("", "_aircraft"),
)


merged_2023.dropna(axis=1, how="all", inplace=True)
merged_2023["origin"] = 2023

merged_2023.columns, len(merged_2023.columns)
# ['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
#  'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
#  'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
#  'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
#  'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
#  'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
#  'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
#  ' KIT MODEL', 'MODE S CODE HEX', 'CODE', 'MFR', 'MODEL', 'TYPE',
#  'HORSEPOWER', 'THRUST', 'CODE_aircraft', 'MFR_aircraft',
#  'MODEL_aircraft', 'TYPE-ACFT', 'TYPE-ENG', 'AC-CAT', 'BUILD-CERT-IND',
#  'NO-ENG', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'TC-DATA-SHEET',
#  'TC-DATA-HOLDER', 'origin']

MASTER_COLUMNS = merged_2023.columns

merged_2023.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1,680-0519,2076811,52041,2014,7,TENAX AEROSPACE LLC ...,400 W PARKWAY PL STE 201,,RIDGELAND,...,5,1,0,2,9,CLASS 3,0,,...,2023
1,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1,1,0,1,2,CLASS 1,67,,...,2023
2,10001,A28,9601202,67007,1928,1,STOOS ROBERT A ...,PO BOX 1056,,LAKELAND,...,1,1,0,1,3,CLASS 1,79,,...,2023
3,10004,T18208245,2072738,,,7,ETOS AIR LLC ...,PO BOX 288,,NEW LONDON,...,1,1,0,1,4,CLASS 1,0,,...,2023
4,10006,BG-72,1152020,17026,1955,1,COUTCHES ROBERT HERCULES DBA ...,550 AIRWAY BLVD,,LIVERMORE,...,1,1,0,1,4,CLASS 1,0,,...,2023

In [4]:
merged_2022_engine = pd.merge(
    master_2022.astype({"ENG MFR MDL": "str"}),
    engine_2022.astype({"CODE": "str"}),
    how="left",
    left_on="ENG MFR MDL",
    right_on="CODE",
    suffixes=("", "_engine"),
)

merged_2022 = pd.merge(
    merged_2022_engine,
    arcrft_2022.astype({"CODE": "str"}),
    how="left",
    left_on="MFR MDL CODE",
    right_on="CODE",
    suffixes=("", "_aircraft"),
)


merged_2022.dropna(axis=1, how="all", inplace=True)
merged_2022["origin"] = 2022

merged_2022.columns, len(merged_2022.columns)
# ['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
#  'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
#  'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
#  'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
#  'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
#  'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
#  'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
#  ' KIT MODEL', 'MODE S CODE HEX', 'CODE', 'MFR', 'MODEL', 'TYPE',
#  'HORSEPOWER', 'THRUST', 'CODE_aircraft', 'MFR_aircraft',
#  'MODEL_aircraft', 'TYPE-ACFT', 'TYPE-ENG', 'AC-CAT', 'BUILD-CERT-IND',
#  'NO-ENG', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'TC-DATA-SHEET',
#  'TC-DATA-HOLDER', 'origin']


merged_2022.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1,680-0519,2076811,52041,2014,7,TENAX AEROSPACE LLC ...,124 ONE MADISON PLZ STE 2100,,MADISON,...,5,1,0,2,9,CLASS 3,0,,...,2022
1,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1,1,0,1,2,CLASS 1,67,,...,2022
2,10001,A28,9601202,67007,1928,1,STOOS ROBERT A ...,PO BOX 1056,,LAKELAND,...,1,1,0,1,3,CLASS 1,79,,...,2022
3,10004,T18208245,2072738,,,7,ETOS AIR LLC ...,PO BOX 288,,NEW LONDON,...,1,1,0,1,4,CLASS 1,0,,...,2022
4,10006,BG-72,1152020,17026,1955,1,COUTCHES ROBERT HERCULES DBA ...,550 AIRWAY BLVD,,LIVERMORE,...,1,1,0,1,4,CLASS 1,0,,...,2022

In [5]:
merged_2021_engine = pd.merge(
    master_2021.astype({"ENG MFR MDL": "str"}),
    engine_2021.astype({"CODE": "str"}),
    how="left",
    left_on="ENG MFR MDL",
    right_on="CODE",
    suffixes=("", "_engine"),
)

merged_2021 = pd.merge(
    merged_2021_engine,
    arcrft_2021.astype({"CODE": "str"}),
    how="left",
    left_on="MFR MDL CODE",
    right_on="CODE",
    suffixes=("", "_aircraft"),
)


merged_2021.dropna(axis=1, how="all", inplace=True)
merged_2021["origin"] = 2021

merged_2021.columns, len(merged_2021.columns)
# ['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
#  'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
#  'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
#  'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
#  'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
#  'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
#  'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
#  ' KIT MODEL', 'MODE S CODE HEX', 'CODE', 'MFR', 'MODEL', 'TYPE',
#  'HORSEPOWER', 'THRUST', 'CODE_aircraft', 'MFR_aircraft',
#  'MODEL_aircraft', 'TYPE-ACFT', 'TYPE-ENG', 'AC-CAT', 'BUILD-CERT-IND',
#  'NO-ENG', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'TC-DATA-SHEET',
#  'TC-DATA-HOLDER', 'origin']


merged_2021.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1,680-0519,2076811,52041,2014,7,TENAX AEROSPACE LLC ...,124 ONE MADISON PLZ STE 2100,,MADISON,...,5,1,0,2,9,CLASS 3,0,,...,2021
1,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1,1,0,1,2,CLASS 1,67,,...,2021
2,10001,A28,9601202,67007,1928,1,STOOS ROBERT A ...,PO BOX 1056,,LAKELAND,...,1,1,0,1,3,CLASS 1,79,,...,2021
3,10004,T18208245,2072738,,,7,ETOS AIR LLC ...,PO BOX 288,,NEW LONDON,...,1,1,0,1,4,CLASS 1,0,,...,2021
4,10006,BG-72,1152020,17026,1955,1,COUTCHES ROBERT HERCULES DBA ...,550 AIRWAY BLVD,,LIVERMORE,...,1,1,0,1,4,CLASS 1,0,,...,2021

In [6]:
merged_2020_engine = pd.merge(
    master_2020.astype({"ENG MFR MDL": "str"}),
    engine_2020.astype({"CODE": "str"}),
    how="left",
    left_on="ENG MFR MDL",
    right_on="CODE",
    suffixes=("", "_engine"),
)

merged_2020 = pd.merge(
    merged_2020_engine,
    arcrft_2020.astype({"CODE": "str"}),
    how="left",
    left_on="MFR MDL CODE",
    right_on="CODE",
    suffixes=("", "_aircraft"),
)


merged_2020.dropna(axis=1, how="all", inplace=True)
merged_2020["origin"] = 2020

merged_2020.columns, len(merged_2020.columns)
# ['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
#  'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
#  'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
#  'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
#  'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
#  'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
#  'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
#  ' KIT MODEL', 'MODE S CODE HEX', 'CODE', 'MFR', 'MODEL', 'TYPE',
#  'HORSEPOWER', 'THRUST', 'CODE_aircraft', 'MFR_aircraft',
#  'MODEL_aircraft', 'TYPE-ACFT', 'TYPE-ENG', 'AC-CAT', 'BUILD-CERT-IND',
#  'NO-ENG', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'TC-DATA-SHEET',
#  'TC-DATA-HOLDER', 'origin']


merged_2020.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1,1,0,1,2,CLASS 1,67,,...,2020
1,10001,A28,9601202,67007,1928,1,STOOS ROBERT A ...,PO BOX 1056,,LAKELAND,...,1,1,0,1,3,CLASS 1,79,,...,2020
2,10002,79-030,8930105,41525,1979,3,ENGLISH AIR SERVICE ...,3409 CORSAIR CIR,,SANTA MARIA,...,1,1,0,1,1,CLASS 1,0,H7SW,SCOTT'S-BELL 47 INC ...,2020
3,10003,1,056336T,,,1,CAMPBELL CHARLES N ...,604 CORDOVA CT,,SALISBURY,...,8,1,1,1,2,CLASS 1,0,,...,2020
4,10004,T18208245,2072738,,,7,ETOS AIR LLC ...,PO BOX 288,,NEW LONDON,...,1,1,0,1,4,CLASS 1,0,,...,2020

In [7]:
merged_2019_engine = pd.merge(
    master_2019.astype({"ENG MFR MDL": "str"}),
    engine_2019.astype({"CODE": "str"}),
    how="left",
    left_on="ENG MFR MDL",
    right_on="CODE",
    suffixes=("", "_engine"),
)

merged_2019 = pd.merge(
    merged_2019_engine,
    arcrft_2019.astype({"CODE": "str"}),
    how="left",
    left_on="MFR MDL CODE",
    right_on="CODE",
    suffixes=("", "_aircraft"),
)


merged_2019.dropna(axis=1, how="all", inplace=True)
merged_2019["origin"] = 2019

merged_2019.columns, len(merged_2019.columns)
# ['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
#  'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
#  'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
#  'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
#  'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
#  'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
#  'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
#  ' KIT MODEL', 'MODE S CODE HEX', 'CODE', 'MFR', 'MODEL', 'TYPE',
#  'HORSEPOWER', 'THRUST', 'CODE_aircraft', 'MFR_aircraft',
#  'MODEL_aircraft', 'TYPE-ACFT', 'TYPE-ENG', 'AC-CAT', 'BUILD-CERT-IND',
#  'NO-ENG', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'origin']


merged_2019 = merged_2019.reindex(columns=MASTER_COLUMNS)
merged_2019.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1,1071,3980115,54556,1988,5,FEDERAL AVIATION ADMINISTRATION ...,6500 S MACARTHUR BLVD,HGR 9E BLDG 10 ROOM 303,OKLAHOMA CITY,...,5,1,0,2,22,CLASS 3,0,NaN,NaN,2019
1,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1,1,0,1,2,CLASS 1,67,NaN,NaN,2019
2,10001,A28,9601202,67007,1928,1,STOOS ROBERT A ...,PO BOX 1056,,LAKELAND,...,1,1,0,1,3,CLASS 1,79,NaN,NaN,2019
3,10002,79-030,8930105,41525,1979,3,ENGLISH AIR SERVICE ...,3409 CORSAIR CIR,,SANTA MARIA,...,1,1,0,1,1,CLASS 1,0,NaN,NaN,2019
4,10003,1,056336T,,,1,CAMPBELL CHARLES N ...,604 CORDOVA CT,,SALISBURY,...,8,1,1,1,2,CLASS 1,0,NaN,NaN,2019

In [8]:
merged_2018_engine = pd.merge(
    master_2018.astype({"ENG MFR MDL": "str"}),
    engine_2018.astype({"CODE": "str"}),
    how="left",
    left_on="ENG MFR MDL",
    right_on="CODE",
    suffixes=("", "_engine"),
)

merged_2018 = pd.merge(
    merged_2018_engine,
    arcrft_2018.astype({"CODE": "str"}),
    how="left",
    left_on="MFR MDL CODE",
    right_on="CODE",
    suffixes=("", "_aircraft"),
)


merged_2018.dropna(axis=1, how="all", inplace=True)
merged_2018["origin"] = 2018

merged_2018.columns, len(merged_2018.columns)
# ['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
#  'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
#  'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
#  'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
#  'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
#  'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
#  'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
#  ' KIT MODEL', 'MODE S CODE HEX', 'CODE', 'MFR', 'MODEL', 'TYPE',
#  'HORSEPOWER', 'THRUST', 'CODE_aircraft', 'MFR_aircraft',
#  'MODEL_aircraft', 'TYPE-ACFT', 'TYPE-ENG', 'AC-CAT', 'BUILD-CERT-IND',
#  'NO-ENG', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'origin']


merged_2018 = merged_2018.reindex(columns=MASTER_COLUMNS)
merged_2018.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1,1071,3980115,54556,1988,5,FEDERAL AVIATION ADMINISTRATION ...,6500 S MACARTHUR BLVD,HGR 9E BLDG 10 ROOM 303,OKLAHOMA CITY,...,5,1,0,2,22,CLASS 3,0,NaN,NaN,2018
1,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1,1,0,1,2,CLASS 1,67,NaN,NaN,2018
2,10001,A28,9601202,67007,1928,1,SALE REPORTED ...,PO BOX 1056,,LAKELAND,...,1,1,0,1,3,CLASS 1,79,NaN,NaN,2018
3,10002,79-030,8930105,41525,1979,3,ENGLISH AIR SERVICE ...,3409 CORSAIR CIR,,SANTA MARIA,...,1,1,0,1,1,CLASS 1,0,NaN,NaN,2018
4,10003,1,056336T,,,1,CAMPBELL CHARLES N ...,604 CORDOVA CT,,SALISBURY,...,8,1,1,1,2,CLASS 1,0,NaN,NaN,2018

In [9]:
merged_2017_engine = pd.merge(
    master_2017.astype({"ENG MFR MDL": "str"}),
    engine_2017.astype({"CODE": "str"}),
    how="left",
    left_on="ENG MFR MDL",
    right_on="CODE",
    suffixes=("", "_engine"),
)

merged_2017 = pd.merge(
    merged_2017_engine,
    arcrft_2017.astype({"CODE": "str"}),
    how="left",
    left_on="MFR MDL CODE",
    right_on="CODE",
    suffixes=("", "_aircraft"),
)


merged_2017.dropna(axis=1, how="all", inplace=True)
merged_2017["origin"] = 2017

merged_2017.columns, len(merged_2017.columns)
# ['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
#  'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
#  'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
#  'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
#  'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
#  'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
#  'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
#  ' KIT MODEL', 'MODE S CODE HEX', 'CODE', 'MFR', 'MODEL', 'TYPE',
#  'HORSEPOWER', 'THRUST', 'CODE_aircraft', 'MFR_aircraft',
#  'MODEL_aircraft', 'TYPE-ACFT', 'TYPE-ENG', 'AC-CAT', 'BUILD-CERT-IND',
#  'NO-ENG', 'NO-SEATS', 'AC-WEIGHT', 'SPEED', 'origin']


merged_2017 = merged_2017.reindex(columns=MASTER_COLUMNS)
merged_2017.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1,1071,3980115,54556,1988,5,FEDERAL AVIATION ADMINISTRATION ...,6500 S MACARTHUR BLVD,HGR 9E BLDG 10 ROOM 303,OKLAHOMA CITY,...,5,1,0,2,22,CLASS 3,0,NaN,NaN,2017
1,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1,1,0,1,2,CLASS 1,67,NaN,NaN,2017
2,10001,A28,9601202,67007,1928,1,PERRY AARON O ...,PO BOX 736,,MULBERRY,...,1,1,0,1,3,CLASS 1,79,NaN,NaN,2017
3,10002,79-030,8930105,41525,1979,3,ENGLISH AIR SERVICE ...,3409 CORSAIR CIR,,SANTA MARIA,...,1,1,0,1,1,CLASS 1,0,NaN,NaN,2017
4,10003,1,056336T,,,1,CAMPBELL CHARLES N ...,604 CORDOVA CT,,SALISBURY,...,8,1,1,1,2,CLASS 1,0,NaN,NaN,2017

### Special Data Handling for 2015 & 2016

In [10]:
master_2016 = pd.read_csv("./../data/ReleasableAircraft.2016/MASTER.txt", delimiter=",", low_memory=False)
engine_2016 = pd.read_csv("./../data/ReleasableAircraft.2016/Engine.txt", delimiter=",", low_memory=False)
arcrft_2016 = pd.read_csv("./../data/ReleasableAircraft.2016/AcftRef.txt", delimiter=",", low_memory=False, header=None)

engine_2016.columns = ["ENG-MFR-NAME", "ENGINE-MODEL-NAME", "TYPE-ENGINE", "HORSEPOWER", "THRUST", "ENG-MFR-MDL", "Unnamed: 6"]
arcrft_2016.columns = ["MFR-NAME", "MODEL-NAME", "TYPE-AIRCRAFT", "TYPE-ENGINE", "AC-CATEGORY", "AMAT-TC-BUILT", "NUMBER-ENGINES", "NUMBER-SEATS", "AC-WEIGHT", "SPEED", "MFR-MDL-CODE", "KIT-CODE ", "Unnamed"]

In [11]:
merged_2016_engine = pd.merge(
    master_2016.astype({"Eng MFR Code": "str"}),
    engine_2016.astype({"ENG-MFR-MDL": "str"}),
    how="left",
    left_on="Eng MFR Code",
    right_on="ENG-MFR-MDL",
    suffixes=("", "_engine"),
)

merged_2016 = pd.merge(
    merged_2016_engine,
    arcrft_2016.astype({"MFR-MDL-CODE": "str"}),
    how="left",
    left_on="MFR MDL Code",
    right_on="MFR-MDL-CODE",
    suffixes=("", "_aircraft"),
)

merged_2016.dropna(axis=1, how="all", inplace=True)
merged_2016["origin"] = 2016

merged_2016.columns, len(merged_2016.columns)
# ['N-Number', 'Serial Number', 'MFR MDL Code', 'Eng MFR Code', 'Year MFR',
#  'Name', 'Street 1', 'Street2', 'City', 'State', 'ZIP', 'Region',
#  'County ', 'Country', 'Last Activity Date', 'Cert Issue Date',
#  'Certification Requested ', 'Type Aircraft', 'Type Engine',
#  'Status Code', 'Mode S Code', 'Fractional  Ownership',
#  'Airworthiness Date', 'Other Name 1', 'Other Name 2', 'Other Name 3',
#  'Other Name 4', 'Other Name 5', 'Expiration Date', 'Unique ID',
#  'Kit MFR Code', 'ENG-MFR-NAME', 'ENGINE-MODEL-NAME', 'TYPE-ENGINE',
#  'HORSEPOWER', 'THRUST', 'ENG-MFR-MDL', 'MFR-NAME', 'MODEL-NAME',
#  'TYPE-AIRCRAFT', 'TYPE-ENGINE_aircraft', 'AC-CATEGORY', 'AMAT-TC-BUILT',
#  'NUMBER-ENGINES', 'NUMBER-SEATS', 'AC-WEIGHT', 'SPEED', 'MFR-MDL-CODE',
#  'KIT-CODE ', 'origin']

merged_2016.head()

,N-Number,Serial Number,MFR MDL Code,Eng MFR Code,Year MFR,Name,Street 1,Street2,City,State,...,TYPE-ENGINE_aircraft,AC-CATEGORY,AMAT-TC-BUILT,NUMBER-ENGINES,NUMBER-SEATS,AC-WEIGHT,SPEED,MFR-MDL-CODE,KIT-CODE,origin
0,1AJ,156H,7220282,41514,1973,JENKINS ARTHUR J ...,PO BOX 129,,KILA,MT,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,81.0,7220282,,2016
1,7D,D-1,4970150,41508,1951,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,MN,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,79.0,4970150,,2016
2,1BH,1951034,13007S6,43101,1972,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,SC,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,45.0,13007S6,,2016
3,721NM,11E-1001,7320100,17160,2008,ORACLE AVIATION LLC ...,12916 MILLARD AIRPORT PLZ,,OMAHA,NE,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,7320100,,2016
4,6334,,,,,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,VA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [13]:
column_mapping_2016 = {
    "N-Number": "N-NUMBER",
    "Serial Number": "SERIAL NUMBER",
    "MFR MDL Code": "MFR MDL CODE",
    "Eng MFR Code": "ENG MFR MDL",
    "Year MFR": "YEAR MFR",
    "Name": "NAME",
    "Street 1": "STREET",
    "Street2": "STREET2",
    "City": "CITY",
    "State": "STATE",
    "ZIP": "ZIP CODE",
    "Region": "REGION",
    "County ": "COUNTY",
    "Country": "COUNTRY",
    "Last Activity Date": "LAST ACTION DATE",
    "Cert Issue Date": "CERT ISSUE DATE",
    "Certification Requested ": "CERTIFICATION",
    "Type Aircraft": "TYPE AIRCRAFT",
    "Type Engine": "TYPE ENGINE",
    "Status Code": "STATUS CODE",
    "Mode S Code": "MODE S CODE",
    "Fractional  Ownership": "FRACT OWNER",
    "Airworthiness Date": "AIR WORTH DATE",
    "Other Name 1": "OTHER NAMES(1)",
    "Other Name 2": "OTHER NAMES(2)",
    "Other Name 3": "OTHER NAMES(3)",
    "Other Name 4": "OTHER NAMES(4)",
    "Other Name 5": "OTHER NAMES(5)",
    "Expiration Date": "EXPIRATION DATE",
    "Unique ID": "UNIQUE ID",
    "Kit MFR Code": "KIT MFR",
    "ENG-MFR-NAME": "MFR",
    "ENGINE-MODEL-NAME": "MODEL",
    "TYPE-ENGINE": "TYPE",
    "HORSEPOWER": "HORSEPOWER",
    "THRUST": "THRUST",
    "ENG-MFR-MDL": "CODE_aircraft",
    "MFR-NAME": "MFR_aircraft",
    "MODEL-NAME": "MODEL_aircraft",
    "TYPE-AIRCRAFT": "TYPE-ACFT",
    "TYPE-ENGINE_aircraft": "TYPE-ENG",
    "AC-CATEGORY": "AC-CAT",
    "AMAT-TC-BUILT": "BUILD-CERT-IND",
    "NUMBER-ENGINES": "NO-ENG",
    "NUMBER-SEATS": "NO-SEATS",
    "AC-WEIGHT": "AC-WEIGHT",
    "SPEED": "SPEED",
    "MFR-MDL-CODE": "CODE",
    "KIT-CODE ": " KIT MODEL",
    "origin": "origin",
}


print("Unmapped columns:")
[print(col) for col in MASTER_COLUMNS if col not in column_mapping_2016.values()]

merged_2016.rename(columns=column_mapping_2016, inplace=True)
merged_2016 = merged_2016.reindex(columns=MASTER_COLUMNS)

merged_2016.head()

Unmapped columns:
TYPE REGISTRANT
MODE S CODE HEX
TC-DATA-SHEET
TC-DATA-HOLDER

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1AJ,156H,7220282,41514,1973,NaN,JENKINS ARTHUR J ...,PO BOX 129,,KILA,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,81.0,NaN,NaN,2016
1,7D,D-1,4970150,41508,1951,NaN,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,79.0,NaN,NaN,2016
2,1BH,1951034,13007S6,43101,1972,NaN,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,45.0,NaN,NaN,2016
3,721NM,11E-1001,7320100,17160,2008,NaN,ORACLE AVIATION LLC ...,12916 MILLARD AIRPORT PLZ,,OMAHA,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,NaN,NaN,2016
4,6334,,,,,NaN,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [14]:
master_2015 = pd.read_csv("./../data/ReleasableAircraft.2015/MASTER.txt", delimiter=",", low_memory=False)
engine_2015 = pd.read_csv("./../data/ReleasableAircraft.2015/Engine.txt", delimiter=",", low_memory=False)
arcrft_2015 = pd.read_csv("./../data/ReleasableAircraft.2015/AcftRef.txt", delimiter=",", low_memory=False, header=None)

engine_2015.columns = ["ENG-MFR-NAME", "ENGINE-MODEL-NAME", "TYPE-ENGINE", "HORSEPOWER", "THRUST", "ENG-MFR-MDL", "Unnamed: 6"]
arcrft_2015.columns = ["MFR-NAME", "MODEL-NAME", "TYPE-AIRCRAFT", "TYPE-ENGINE", "AC-CATEGORY", "AMAT-TC-BUILT", "NUMBER-ENGINES", "NUMBER-SEATS", "AC-WEIGHT", "SPEED", "MFR-MDL-CODE", "KIT-CODE ", "Unnamed"]

In [15]:
merged_2015_engine = pd.merge(
    master_2015.astype({"Engine MFR Code": "str"}),
    engine_2015.astype({"ENG-MFR-MDL": "str"}),
    how="left",
    left_on="Engine MFR Code",
    right_on="ENG-MFR-MDL",
    suffixes=("", "_engine"),
)

merged_2015 = pd.merge(
    merged_2015_engine,
    # master_2015.astype({"AircraftMFRModelCode": "str"}),
    arcrft_2015.astype({"MFR-MDL-CODE": "str"}),
    how="left",
    left_on="AircraftMFRModelCode",
    right_on="MFR-MDL-CODE",
    suffixes=("", "_aircraft"),
)

merged_2015.dropna(axis=1, how='all', inplace=True)
merged_2015.drop(labels="Unnamed: 34", axis=1, inplace=True)
merged_2015["origin"] = 2015

merged_2015.columns, len(merged_2015.columns)
# ['N-Number', 'Serial Number', 'AircraftMFRModelCode', 'Engine MFR Code',
#  'Year Mfr', 'Name', 'Street1', 'Street2', 'City', 'State', 'ZIP',
#  'Region', 'County', 'Country', 'LastActivity Date', 'CertIssueDate',
#  'Certification Requested', 'TypeAcft', 'Type Engine', 'StatusCode',
#  'Mode S Code', 'Fractional Ownership', 'Airworthiness Date',
#  'Other Name 1', 'Other Name 2', 'Other Name 3', 'Other Name 4',
#  'Other Name 5', 'Expiration Date', 'UniqueID', 'Kit MFR Code',
#  'ENG-MFR-NAME', 'ENGINE-MODEL-NAME', 'TYPE-ENGINE', 'HORSEPOWER',
#  'THRUST', 'ENG-MFR-MDL', 'MFR-NAME', 'MODEL-NAME', 'TYPE-AIRCRAFT',
#  'TYPE-ENGINE_aircraft', 'AC-CATEGORY', 'AMAT-TC-BUILT',
#  'NUMBER-ENGINES', 'NUMBER-SEATS', 'AC-WEIGHT', 'SPEED', 'MFR-MDL-CODE',
#  'KIT-CODE ', 'origin']

merged_2015.head()

,N-Number,Serial Number,AircraftMFRModelCode,Engine MFR Code,Year Mfr,Name,Street1,Street2,City,State,...,TYPE-ENGINE_aircraft,AC-CATEGORY,AMAT-TC-BUILT,NUMBER-ENGINES,NUMBER-SEATS,AC-WEIGHT,SPEED,MFR-MDL-CODE,KIT-CODE,origin
0,1AJ,156H,7220282,41514,1973,JENKINS ARTHUR J ...,PO BOX 129,,KILA,MT,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,81.0,7220282,,2015
1,7D,D-1,4970150,41508,1951,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,MN,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,79.0,4970150,,2015
2,1BH,1951034,13007S6,43101,1972,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,SC,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,45.0,13007S6,,2015
3,721NM,11E-1001,7320100,17160,2008,CINCO FUND III LLC ...,PO BOX 8152,,WACO,TX,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,7320100,,2015
4,6334,,,,,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,VA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [17]:
column_mapping_2015 = {
    "N-Number": "N-NUMBER",
    "Serial Number": "SERIAL NUMBER",
    "AircraftMFRModelCode": "MFR MDL CODE",
    "Engine MFR Code": "ENG MFR MDL",
    "Year Mfr": "YEAR MFR",
    "Name": "NAME",
    "Street1": "STREET",
    "Street2": "STREET2",
    "City": "CITY",
    "State": "STATE",
    "ZIP": "ZIP CODE",
    "Region": "REGION",
    "County": "COUNTY",
    "Country": "COUNTRY",
    "LastActivity Date": "LAST ACTION DATE",
    "CertIssueDate": "CERT ISSUE DATE",
    "Certification Requested": "CERTIFICATION",
    "TypeAcft": "TYPE AIRCRAFT",
    "Type Engine": "TYPE ENGINE",
    "StatusCode": "STATUS CODE",
    "Mode S Code": "MODE S CODE",
    "Fractional Ownership": "FRACT OWNER",
    "Airworthiness Date": "AIR WORTH DATE",
    "Other Name 1": "OTHER NAMES(1)",
    "Other Name 2": "OTHER NAMES(2)",
    "Other Name 3": "OTHER NAMES(3)",
    "Other Name 4": "OTHER NAMES(4)",
    "Other Name 5": "OTHER NAMES(5)",
    "Expiration Date": "EXPIRATION DATE",
    "UniqueID": "UNIQUE ID",
    "Kit MFR Code": "KIT MFR",
    "ENG-MFR-NAME": "MFR",
    "ENGINE-MODEL-NAME": "MODEL",
    "TYPE-ENGINE": "TYPE",
    "HORSEPOWER": "HORSEPOWER",
    "THRUST": "THRUST",
    "ENG-MFR-MDL": "CODE_aircraft",
    "MFR-NAME": "MFR_aircraft",
    "MODEL-NAME": "MODEL_aircraft",
    "TYPE-AIRCRAFT": "TYPE-ACFT",
    "TYPE-ENGINE_aircraft": "TYPE-ENG",
    "AC-CATEGORY": "AC-CAT",
    "AMAT-TC-BUILT": "BUILD-CERT-IND",
    "NUMBER-ENGINES": "NO-ENG",
    "NUMBER-SEATS": "NO-SEATS",
    "AC-WEIGHT": "AC-WEIGHT",
    "SPEED": "SPEED",
    "MFR-MDL-CODE": "CODE",
    "KIT-CODE ": " KIT MODEL",
    "origin": "origin",
}

print("Unmapped columns:")
[print(col) for col in MASTER_COLUMNS if col not in column_mapping_2015.values()]

merged_2015.rename(columns=column_mapping_2015, inplace=True)
merged_2015 = merged_2015.reindex(columns=MASTER_COLUMNS)

merged_2015.head()

Unmapped columns:
TYPE REGISTRANT
MODE S CODE HEX
TC-DATA-SHEET
TC-DATA-HOLDER

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1AJ,156H,7220282,41514,1973,NaN,JENKINS ARTHUR J ...,PO BOX 129,,KILA,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,81.0,NaN,NaN,2015
1,7D,D-1,4970150,41508,1951,NaN,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,79.0,NaN,NaN,2015
2,1BH,1951034,13007S6,43101,1972,NaN,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,45.0,NaN,NaN,2015
3,721NM,11E-1001,7320100,17160,2008,NaN,CINCO FUND III LLC ...,PO BOX 8152,,WACO,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,NaN,NaN,2015
4,6334,,,,,NaN,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

### Merging All Years

In [18]:
print([f"merged_{y}" for y in range(2015,2024)])

['merged_2015', 'merged_2016', 'merged_2017', 'merged_2018', 'merged_2019', 'merged_2020', 'merged_2021', 'merged_2022', 'merged_2023']

In [19]:
all_data = pd.concat([merged_2015, merged_2016, merged_2017, merged_2018, merged_2019, merged_2020, merged_2021, merged_2022, merged_2023], ignore_index=True)

all_data

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
0,1AJ,156H,7220282,41514,1973,NaN,JENKINS ARTHUR J ...,PO BOX 129,,KILA,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,81.0,NaN,NaN,2015
1,7D,D-1,4970150,41508,1951,NaN,HOLLIDAY MARK E ...,PO BOX 243,,LAKE ELMO,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,79.0,NaN,NaN,2015
2,1BH,1951034,13007S6,43101,1972,NaN,HINSON BOBBY W ...,PO BOX 988,,LANCASTER,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,45.0,NaN,NaN,2015
3,721NM,11E-1001,7320100,17160,2008,NaN,CINCO FUND III LLC ...,PO BOX 8152,,WACO,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,NaN,NaN,2015
4,6334,,,,,NaN,NIEUPORT LLC ...,20406 FORTUNES WAY,,REMINGTON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2930866,9ZR,2228,8680511,60020,,3,SOUTHERN AIRCRAFT CONSULTANCY INC TRUSTEE ...,GLEBE COTTAGE COOKES RD,BERGH APTON,NORFOLK,...,3.0,1.0,0.0,1.0,5.0,CLASS 1,79.0,7H1,AIRBUS HELICOPTERS ...,2023
2930867,9ZS,20004,5760102,00000,1974,1,COLLINS BRIAN D ...,42 BOGART DR,,PETERSBURG,...,0.0,1.0,0.0,0.0,1.0,CLASS 1,112.0,,...,2023
2930868,9ZT,0088,2130001,17042,2001,7,VALIAIR LC TRUSTEE ...,4605 HARRISON BLVD STE 202,,OGDEN,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,,...,2023
2930869,9ZU,18-7028,7101828,41508,1959,1,FOWLER RONALD W ...,478 AIRPORT RD,,LOPEZ ISLAND,...,1.0,1.0,0.0,1.0,2.0,CLASS 1,97.0,,...,2023
2930870,9ZX,121,05655US,09050,1986,1,HOOVER MICHAEL B ...,N13699 320TH ST,,RIDGELAND,...,1.0,1.0,1.0,1.0,1.0,CLASS 1,0.0,,...,2023

In [20]:
final_data = all_data.sort_values(
    by=["origin", "N-NUMBER"], ascending=[False, True]
).drop_duplicates(subset="N-NUMBER", keep="first")

In [21]:
final_data

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,...,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,origin
2638916,1,680-0519,2076811,52041,2014,7,TENAX AEROSPACE LLC ...,400 W PARKWAY PL STE 201,,RIDGELAND,...,5.0,1.0,0.0,2.0,9.0,CLASS 3,0.0,,...,2023
2638917,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,...,1.0,1.0,0.0,1.0,2.0,CLASS 1,67.0,,...,2023
2638918,10001,A28,9601202,67007,1928,1,STOOS ROBERT A ...,PO BOX 1056,,LAKELAND,...,1.0,1.0,0.0,1.0,3.0,CLASS 1,79.0,,...,2023
2638919,10004,T18208245,2072738,,,7,ETOS AIR LLC ...,PO BOX 288,,NEW LONDON,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,,...,2023
2638920,10006,BG-72,1152020,17026,1955,1,COUTCHES ROBERT HERCULES DBA ...,550 AIRWAY BLVD,,LIVERMORE,...,1.0,1.0,0.0,1.0,4.0,CLASS 1,0.0,,...,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32474,99AY,,,,,NaN,ORTIZ LUIS ...,1612 E GREENLEAF ST,,ALLENTOWN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
317578,99KM,,,,,NaN,CANCELLED/NOT ASSIGNED ...,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
325607,99LZ,,,,,NaN,CANCELLED/NOT ASSIGNED ...,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
306530,99PH,,,,,NaN,CANCELLED/NOT ASSIGNED ...,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
15228,99WN,,,,,NaN,AIR-MED TRANSPORT LLC ...,5 WILLOW BEND DRIVE,,HATTIESBURG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [22]:
final_data['origin'].value_counts()

origin
2023    291955
2016    116025
2017     21118
2015     13729
2018     12521
2019      8608
2021      8330
2020      8238
2022      6310
Name: count, dtype: int64

In [23]:
with sqlite3.connect("faa_joined.db") as conn:
    final_data.to_sql(name="faa_joined", con=conn, if_exists="replace", index=False)